<html lang="en">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aldrich&family=Babylonica&family=Bellefair&family=Dangrek&family=Montserrat:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/{{_id}}">Home</a></li>
        <li><a href="/drones/{{_id}}">Drones</a></li>
        <li><a href="/drones/create{{_id}}">Create</a></li>
      </ul>
    </nav>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>