<div class="flexblock">
    <h1><b>Available drones</b></h1>   
    <a href="/drones/create" class="btn btn-primary"><i class="las la-plus-circle"></i> New drone</a>
</div>
<div class="row mt-4">
    {{#each drones as |drone|}}
        <div class="col-sm-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <img src="https://img.icons8.com/ios-filled/45/000000/drone.png"/>
                    <h5 class="mt-2"><b>{{name}}</b></h5>
                    <p>Propellers: {{propellers}} | MaxSpeed: {{maxSpeed}}</p>
                    <a href="/drones/{{_id}}/edit" class="btn btn-secondary btn-sm px-4"><i class="las la-pen"></i> Edit</a>
                    <button class="btn btn-danger btn-sm px-4" data-bs-toggle="modal" data-bs-target="#delete" data-bs-droneName="{{name}}" data-bs-droneid="{{_id}}"><i class="las la-trash-alt"></i> Delete</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>


    <!-- Modal -->
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to deltele <span id="droneName"></span>?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/drones/{{_id}}/delete" id="delete-form" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script>
    var deleteModal = document.getElementById('delete')
    deleteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var droneid = button.getAttribute('data-bs-droneid')
        var modalForm = document.getElementById('delete-form')
        modalForm.setAttribute('action', `/drones/${droneid}/delete`)

        var droneName = button.getAttribute('data-bs-droneName')
        document.getElementById('droneName').innerHTML = droneName
    });
</script>