<section class="py-3 py-md-5 bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h2>Searching for {{query}}</h2>
                <p>{{drones.length}} drones were found.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-3 py-md-4 bg-light">
    <div class="container">
        <div class="row">
            {{#each drones}}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a class="text-dark text-decoration-none">
                                <h2 class="h4">{{name}}</h2>
                                <p class="text-muted"><span>Propellers:{{propellers}}</span> <span>Max Speed:{{maxSpeed}}</span></p>
                            </a>
                            <div class="d-flex justify-content-between">
                                <a href="/drones/{{_id}}/edit" class="btn btn-light border flex-fill me-2">Edit</a>
                                <form action="/drones/{{_id}}/delete" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>