<h2>Create a new drone</h2>

<form action="/drone/create" method="POST">

  <label>
    Drone Name
    <input type="text" name="name" >
  </label>

  <label>
    Propellers
    <input type="number" name="propellers" >
  </label>

  <label>
    Max Speed
    <input type="number" name="maxSpeed">
  </label>

  <button type="submit">Create</button>

</form>

<h2>Edit the drone: {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="post">

  <label for="name">Name:</label>
    <input type="text" name="name" value="{{name}}" />
  

  <label for="propellers">Propellers:</label>
  <input type="text" name="propellers" value="{{propellers}}" />

  <label for="maxSpeed">Max Speed:</label>
  <input type="number" name="maxSpeed" value="{{maxSpeed}}" />

  <button type="submit">Save changes</button>

</form>