<h2>Drones details</h2>

<div class="form-container">
  <h5>Name: {{name}}</h5>
  <p>Number of propellers: {{propellers}}</p>
  <p>Maximum speed: {{maxSpeed}}</p>
  {{!-- <button><a href="/drones/{{_id}}">See details</a></button>
    <button><a href="/drones/{{_id}}/edit">Update details</a></button> --}}
  {{!-- <form action="/drones/{{id}}/delete" method="post">
      <button type="submit">Delete the drone</button>
    </form> --}}
  <a href="/drones/"><button>Back</button></a>
</div>