<h1>{{drone.name}}</h1>


  <h3>Propellers: {{drone.propellers}}</h3>
  <h3>MaxSpeed: {{drone.maxSpeed}}</h3>

<a
  href="/drones/{{drone.id}}/edit"
  class="btn btn-primary"
  role="button"
>Edit</a>

<form action="/drones/{{drone.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>