<h2>Update the drone</h2>

<h3>Name: {{drone.name}}</h3>

<h4>Propellers: {{drone.propellers}}</h4>

<h4>Max Speed: {{drone.maxSpeed}}</h4>





{{!-- The drone._id will be a dynamic id to a single todo --}}
<form action="/drones/{{drone._id}}/edit" method="GET">
    <button type="submit" class="btn btn-warning">Edit</button>
</form>

{{!-- The drone._id will be a dynamic id to a single todo --}}
<form action="/drones/{{drone._id}}/delete" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>