<h1>Editar libro</h1>

Este es el id: {{data._id}}

<form action="/drones/{{data._id}}/edit" method="POST">
	<label>Título</label>

    <br/>

	<label>Name</label>
	<input type="text" name="name" value="{{data.name}}" />

	<br />

    <label>Propellers</label>
	<input type="number" name="propellers" value="{{data.propellers}}" />

	<br />

	<label>Max Speed</label>
	<input type="number" name="maxSpeed" value="{{data.maxSpeed}}" />

	<br />

	<label>Imagen</label>
	<input type="text" name="image" value="{{data.imagen}}" />

	<br />

	<button>
		Guardar nuevos cambios
	</button>


</form>