<h2 style='padding: 2rem;'>{{name}}</h2>
<div class='wrapper'>
	<form action='/drones/{{_id}}/edit' method='POST'>

		<div class='create-drone'>

			<label for='name'>Name</label>
			<input type='text' name='name' value='{{name}}' />

			<label for='propellers'>Propellers</label>
			<input type='text' name='propellers' value='{{propellers}}' />

			<label for='maxSpeed'>Max Speed</label>
			<input type='number' name='maxSpeed' value='{{maxSpeed}}' />
			<div class='create-button-wrap'>
				<button class='button orange' style='padding-top: 1rem;'>Update</button>

				<a href='javascript: history.back()' class='big' style='padding:0.5rem'>Go Back</a>
			</div>
		</div>
	</form>

</div>
