<div class="m-3">
  <h1>Edit Drone</h1>
  <form class="m-4" action="/drones/{{drone.id}}" method="post">
    <div>
      <label for="name" class="form-label"></label>
      <input
        value="{{drone.name}}"
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="Name"
      />
    </div>
    <div>
      <label for="propellers" class="form-label"></label>
      <input
        value="{{drone.propellers}}"
        type="text"
        name="propellers"
        id="propellers"
        class="form-control"
        placeholder="Propellers"
      />
    </div>
    <div>
      <label for="maxSpeed" class="form-label"></label>
      <input
        value="{{drone.maxSpeed}}"
        type="text"
        name="maxSpeed"
        id="maxSpeed"
        class="form-control"
        placeholder="Max Speed"
      />
    </div>
    <div>
      <label for="image" class="form-label"></label>
      <input
        value="{{drone.image}}"
        type="text"
        name="image"
        id="image"
        class="form-control"
        placeholder="Image Url"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Update</button>
  </form>
</div>