{{#if isEdit}}
<h1 class="mt-3 mb-3">Edit the drone</h1>
<form action="/drones/{{drone._id}}/edit" method="POST">
{{else}}
<h1 class="mt-3 mb-3">Create a new drone</h1>
<form action="/drones/create" method="POST">
{{/if}}
 <div class="mb-3">
    <label for="name" class="form-label">Drone name</label>
    <input value="{{drone.name}}" type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="propellers" class="form-label">Number of propellers</label>
    <input value="{{drone.propellers}}" type="number" class="form-control" id="propellers" name="propellers">
  </div>
  <div class="mb-3">
    <label for="maxSpeed" class="form-label">Maximum speed</label>
    <input value="{{drone.maxSpeed}}" type="number" class="form-control" id="maxSpeed" name="maxSpeed">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>