<h2>Drone Spec</h2>

<h1>name: {{drone.name}}</h1>
<h2>propellers: {{drone.propellers}}</h2>
<h3>maxSpeed: {{drone.maxSpeed}}</h3>

<a
  href="/drones/{{drone.id}}/edit"
  class="btn btn-primary"
  role="button"
>Udpate</a>
<form action="/drones/{{drone.id}}/delete" method="POST">
  <button class="btn btn-danger">Delete</button>
</form>