<h2>Drones disponibles</h2>
<hr>

{{#each drones}}
<h3>Nombre: {{name}}</h3>

<h4>Propellers:</h4>
<p>{{propellers}}</p>

<h4>Velocidad max:</h4>
<p>{{maxSpeed}}</p>

<a href="/drones/{{_id}}/edit">Edit drone info</a>

<br>

<form action="/drones/{{_id}}/delete" method="POST" style="display: inline-block;">

    <button type="button" class="btn btn-warning">Eliminar</button>
    
</form>
<hr>
{{/each}}

<br>

<a class="btn btn-dark" href="/" role="button">Inicio</a>

<br>

<a class="btn btn-dark" href="/drones/create" role="button">Crea tu Drone</a>
