<h2>Available drones</h2>

<ul> 
    {{#each drones}}
    <li>{{name}}
        <p>Propellers: {{propellers}}</p>
        <p>Max Speed: {{maxSpeed}}</p>
        <a href="/drones/{{_id}}/edit"> Edit Drone</a>
        <a href="/drones/{{_id}}/delete"> Delete Drone</a>
    </li>
    {{/each}}
</ul>

<a href="/drones/create"> Creta new Drone</a>