<h2>AVAILABLE DRONES</h2>
<form action="/" method="GET"><button type="submit"class="btn btn-outline-dark"<a href="/"></a>HOME PAGE</button></form>


{{#each drones}}
<div class="container-xl">
<div class="alert alert-success" role="alert">


<p>Drone: <a href="https://tec.mx/sites/default/files/styles/header_full/public/2020-03/drones-futuro-por-expertos-del-tec-monterrey.jpg?h=920929c4&itok=fSc85wO1../{{this.name}}">{{this.name}}</a> </p> <p> Propellers : {{this.propellers}} </p><p> Speed : {{this.maxSpeed}}</p>


<form action="/drones/{{this._id}}/edit" method="GET"><button type="submit" class="btn btn-outline-warning"<a href="/drones/{{this._id}}/edit"></a>Edit</button></form>
  

<form action="/drones/{{this._id}}/delete" method="GET"><button type="submit" class="btn btn-outline-danger" <a href="/drones/{{this._id}}/delete"></a>Delete</button></form>
</div>
</div>
{{/each}}