<div class="container">
  <h1>Available drones</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each data}}
      <div class="col">
        <div class="card">
          <img
            src="{{this.image}}"
            class="card-img-top img-drone"
            alt="{{this.name}}"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Propellers:{{this.propellers}}</p>
            <p class="card-text">Speed:{{this.maxSpeed}}</p>
            <form method="POST" action="/drones/{{this._id}}/delete">
              <button>Delete</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>