<div class="drones-container">
  <div>
    <h1>Drones List</h1>
    <a class="btn btn-primary" href="/drones/new">New Drone</a>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each drones as |drone|}}
      <div class="card drones-cards" style="width: 12rem;">
        {{#if drone.image}}
          <img class="card-img-top" src="{{drone.image}}" />
        {{/if}}
        <h5 class="card-title">{{drone.name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Propellers - {{drone.propellers}}</li>
          <li class="list-group-item">Max Speed - {{drone.maxSpeed}}</li>
        </ul>
        <div>
          <a class="btn btn-primary" href="/drones/{{drone.id}}/update">EDIT</a>
          <form action="/drones/{{drone.id}}/delete" method="post">
            <button class="btn btn-danger">DELETE</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>