<h2>Available drones</h2>
<ul>

  {{#each drone}}
    <li>
      <h3>{{name}}</h3>
      <p>Propellers: {{propellers}}</p>
      <p>Maximal Speed: {{maxSpeed}}</p>
      <a href="/drones/{{_id}}/edit">Edit Drone</a>
      <form action="/drones/{{_id}}/delete" method="post">
        <button type="submit"></button>Delete Drone</form>
    </li>
  {{/each}}
</ul>