<h2>Available drones</h2>

<div class="row">
  {{#each drones}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Propellers: {{this.propellers}}</p>
      <p class="card-text">Max Speed: {{this.maxSpeed}}</p>
      <div class="row">
      <a href="/drones/{{this._id}}/edit" class="update mr-2">Update</a>
      <form action="/drones/{{this._id}}/delete" method="post">
        <button class="delete">Delete</button>
      </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>