<h2>Available drones</h2>

{{!-- since we passed allDronesFromDB as `drones`,
we can iterate over it here with #each--}}

{{#each drones}}
  <div>
    <h3>{{name}}</h3>
    <p>Number of Propellers: {{propellers}}</p> {{!-- additional drone property --}}
    <p>Speed: {{maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Update Drone Info</a>
    {{!-- <form action="/books/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form> --}}
  </div>
{{/each}}