<h2>Available drones</h2>

{{#each drones}}
    <div>
        <h3>{{name}}</h3>
        <p>Properties:</p>
        <ul>
            <li>Propellers: {{propellers}}</li>
            <li>Maximum Speed: {{maxSpeed}}</li>
            <li><a href="/drones/{{_id}}/edit">Edit Drone</a></li>
        </ul>
        <form action='/drones/{{_id}}/delete' method="post">
            <button type="submit">Delete Drone</button>
        </form>
    </div>
{{/each}}

{{!-- name - String (name of the drone model, like General Atomics MQ-9 Reaper)
propellers - Number (amount of propellers, like 4)
maxSpeed - Number (meters per second for the drone's maximum speed, like 18) --}}

{{!-- '/drones/{{_id}}/edit' --}}