<div class="container">
    <h2>Available drones</h2>

    {{#each drone}}
        <div class="drone">
            <h3>{{this.name}}</h3>
            <p>
                <strong>Propellers: </strong> {{this.propellers}} <br />
                <strong>Speed: </strong> {{this.maxSpeed}} <br />
            </p>
            <a href="/drones/{{this._id}}/edit" class="edit-btn">Edit</a>

            <form action="/drones/{{this.id}}/delete" method="POST" class="delete-form">
                <button class="delete-btn">Delete</button>
            </form>
        </div>
        <hr />
    {{/each}}
</div>
