<section class="container">

  <div class="card">

    <h1>Available drones</h1>

    {{#each drones}}

      <div class="custom-div">
        <h3>{{name}}</h3>
        <br />
        <p>Propellers: {{propellers}}</p>
        <p>Speed: {{maxSpeed}}</p>
        <br />
        <a href="/drones/{{_id}}/edit/">Edit Drone</a>
        <br />
        <form action="/drones/{{_id}}/delete/" method="post">
          <button type="submit" class="custom-button">Delete Drone</button>
        </form>
      </div>

    {{/each}}

  </div>
</section>