<h2>Available drones</h2>

{{#each drones}}
    <section class="drone-summary">
        <h3>{{name}}</h3>
        <p>
            Propellers: {{propellers}} <br>
            Max Speed: {{maxSpeed}} <br>
        </p>

        <a href="/drones/{{id}}/edit">Edit</a>

        <form action="/drones/{{id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </section>
{{/each}}