<h2>Available drones</h2>
<hr>
<div class="container d-flex ">
    <div class="row">
        {{#each drones}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3>{{name}}</h3>
                <p>Propellers: {{propellers}}</p>
                <p>Maximum Speed: {{maxSpeed}}</p>
                <a href="/drones/{{_id}}/edit" class="btn btn-success">Edit Info</a>
                <form action="/drones/{{_id}}/delete" method="POST">
                    <button class="btn btn-warning">Delete Drone</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<a href="/drones/create" type="button" class="btn btn-secondary">Create a Drone</button>