<h2>Available drones</h2>

    {{!-- {{log this}} --}}
{{#each drones}}
    {{!-- {{log this}} --}}
    <h1>List of available drones</h1>
    <h2>{{this.name}}</h2>
    <h3>Number of propellers: {{this.propellers}}</h3>
    <h3>Max speed: {{this.maxSpeed}}</h3>
    <a href="drones/{{_id}}/edit">Edit</a>
    <form action="drones/{{_id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
{{/each}}