<div class="list">

    <h1>Available Drones</h1>


    <div class="drones">
        <div class="row">

            {{#each drones}}

            <div class="col-md-4">
                <div class="card mb-4 artist-card">

                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p>Propellers: {{propellers}}</p>
                        <p>Max Speed: {{maxSpeed}}</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md">
                            <a href="/drones/{{_id}}/edit" class="btn btn-warning btn-md">edit</a>

                            <form action="/drones/{{_id}}/delete" method="POST">
                                <input type="submit" value="Delete" class="btn btn-danger btn-md">

                            </form>
                        </div>
                    </div>
                </div>
            </div>




            {{/each}}



        </div>

    </div>



</div>