<h1>Available drones</h1>

{{#each drones}}
    <h2>Name: {{name}}</h2>
    <p>Propellers: {{propellers}}</p>
    <p>Max Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Edit the Drone</a>
    <form action="/drones/{{_id}}/delete" method="post">
        <button>Delete</button>
{{/each}}
