<class="container">
    <div class="row pb-5 list__title ">
        <h2>Available drones</h2>
    </div>
</class>

<div class="container">
    <div class="row">
        {{#each drones as |drone|}}
            <div class='col-3'>
                <div class="card mb-4" style="width: 18rem;">
                    <div class="card-body drone__card">
                        <h5 class="card-title">Name: {{drone.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Number of propellers: {{drone.propellers}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Maximum Speed: {{drone.maxSpeed}}</h6>
                        <div class='card__btns'>
                            <a class="btn btn-secondary " href="/drones/{{_id}}/edit" role="button">Edit</a>
                            <form action="/drones/{{_id}}/delete" method='POST'>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class='create__btn'> 
        <a class="btn btn-warning " href="/drones/create" role="button">Create a new drone</a>
    </div>
</div>
