<h1>Available drones</h1>
<a href="/drones/create">Add a New Drone</a>
<hr>

{{#each drones}}
  <div>
    <h2>{{name}}</h2>
    <h3>{{propellers}}</h3>
    <h3>{{maxSpeed}}</h3>
  </div>
  <a href="/drones/{{id}}/edit">Edit</a>
  <form action="/drones/{{_id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  <hr>
{{/each}}