<h1>whatthefuckrightnow</h1>

{{#each drones}}

<p>{{this.name}}</p>
<li>number of propellers:{{this.propellers}}</li>
<li>Max Speed : {{this.maxSpeed}}</li>
<a href="/drones/{{this.id}}/edit" > edit</a>
<a href="/drones/{{this._id}}/delete">delete</a>

{{/each}}

