<h2>Available drones</h2>
{{#each drones}}
{{#with this}}
{{#if name}}
<div>
    <h3>{{name}}</h3>
    <ul>
        <li>Propellers: {{propellers}}</li>
        <li>Max. Speed: {{maxSpeed}}km/h</li>
    </ul>
    <a href="/drones/{{_id}}/edit">Edit</a>
    <form action="/drones/{{_id}}/delete" method="post">
        <input type="submit" value="Delete">
    </form>
</div>
{{/if}}
{{/with}}
{{/each}}
<a href="/drones/create">Create a drone</a>
<h2 {{error}}>Error while deleting a drone</h2>