<h2>Available drones</h2>

{{#each listDrones}}
<h3>{{name}}</h3>
<p>Propellers : {{propellers}}</p>
<p>Max Speed : {{maxSpeed}}</p>
<a href="/drones/{{_id}}/edit">Edit Drone</a>
<form action="/drones/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
{{/each}}