<div class="container">

    <div class="row">

        {{#each drones}}

        <div class="col-6">

            <div class="row">

                <h1>{{name}}</h1>

                <div class="col-6">

                    <p class="features">Propellers {{propellers}}</p>
                    <p class="features">Max speed {{maxSpeed}}</p>

                    <a class="editButton" href="/drones/{{_id}}/edit">Edit</a>
                    <hr>
                    <form action="/drones/{{_id}}/delete" method="POST">
                        <button class="btn btn-sm btn-warning" type="submit">Delete</button>
                    </form>

                </div>

                <div class="col-6">
                    <img class="imag" src="/images/{{image}}.jpg" alt="Dron Image">
                </div>

            </div>


        </div>
        {{/each}}
    </div>

</div>