<h2>Available drones</h2>
{{#each drones}}
<ul>
    <li>Drone name: {{name}}<br>
    No. propellers: {{propellers}}<br>
    Max speed: {{maxSpeed}} <br>
    <a href= "/drones/{{_id}}/edit">Edit Drone</a>
    <form action="/drones/{{_id}}/delete" method="POST">
    <button type="submit"> Delete </button></form>   </li>
</ul>
{{/each}}