<h2>AVAILABLE DRONES</h2>
<div class="container list">

    <div class="row">
        {{#each drones}}

        <div class="col-md-4">
            <div class="card mb-4 player-card">

                <div class="card-body">
                    <h5 class="card-title"> <span>{{name}}</span></h5>
                    <p class="card-title"> Propellers: {{propellers}}</p>
                    <p class="card-title"> Max Speed {{maxSpeed}}</p>
                    <a href="/drones/{{_id}}/edit" class="btn btn-dark">EDIT DRONE</a>
                    <form action="/drones/{{id}}/delete" method="POST">
                        <input class="btn btn-dark" type="submit" value="DELETE">
                    </form>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>