{{#each drones}}
<a href="/drones/{{this.id}}/edit">
{{this.name}} {{this.propellers}}
{{this.maxSpeed}}
</a>
<form method="post" action="/drones/{{this.id}}/delete">
<button type="submit">Delete</button>
</form>
{{/each}}

