
<div id="drone-list-div" class="container">
<h2>Available drones</h2>
<hr>

<div class="row">
<div class="col-sm-2"><h4>Drone</h4></div>

<div class="col-sm-2"><h4>Propellers</h4></div>

<div class="col-sm-2"><h4>Max Speed</h4></div>

</div>

<hr>

<div class="row">
   
{{#each drones}}

    <div class="col-sm-2">
        <h5>{{this.name}}</h5>
    </div>

    <div class="col-sm-2">
        <p>{{this.propellers}}</p>
    </div>

    <div class="col-sm-2">
        <p>{{this.maxSpeed}}</p>
    </div>

    <div class = "col-sm-3 buttons-div">
        <button class="btn"><a class="edit" href="/drones/{{this.id}}/edit">Edit</a></button>
    </div>

    <div class = "col-sm-3 buttons-div">

            <form action="/drones/{{this.id}}/delete" method="POST">
                <button class="btn btn-success">Delete</button>
            </form>

    </div>

    <hr>
{{/each}}
</div>
</div>