<h2>Available drones</h2>
{{#each drones}}
    <section class="drone-summary"></section>
        <p>
            name: {{this.name}} <br />
            propellers: {{this.propellers}} <br />
            maxSpeed:{{this.maxSpeed}} <br />
        </p>  

        <form action="/drones/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>   

        <a href="/books/{{_id}}/edit">Edit</a> 



<hr />
    
{{/each}}