<div class="container">

    <h2>AVAILABLE DRONES</h2>

    <hr>
    <div class="row">

        {{#each drones}}
        <div class="col-4">
            <div class="card" style="width: 25rem;">
                {{!-- <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}"> --}}
                <div class="card-body">
                    <h5 class="card-title"><strong>NAME: </strong> {{name}}</h5>
                    <p class="card-text"> <strong>PROPS: </strong> {{propellers}}</p>
                    <p class="card-text"> <strong>SPEED:</strong> {{maxSpeed}}</p>
                    <a href="/drones/{{_id}}/edit" class="btn btn-sm btn-info">EDIT</a>
                    <form action="/drones/{{id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
                    </form>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    <hr>

    <a href="/drones/create" class="btn btn-sm btn-info">CREATE</a>
    {{!-- BOTÓN PARA ELIMINAR (ES UN FORMULARIO DISIMULADO PARA ASEGURAR QUE SEA UN ENDPOINT DE POST, INACCESIBLE A
    TRAVÉS DE LA URL) --}}



    <hr>

    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>

</div>