<div class="container">
  <h2 class="pt-3">Available drones{{#if search}} matching name '{{search}}' {{/if}}</h2>
    <h5 class="pt-3">{{#if results}}{{results}} items{{else}}No results</h5> {{/if}}
    <div class="row text-center pb-3">
        {{#each drones}}
            <div class="col-sm-6 p-2">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{name}}</h5>
                    <p class="card-text fw-lighter">{{propellers}} propellers</p>
                    <p class="card-text fw-lighter">Max speed: {{maxSpeed}}</p>
                    <a href="/drones/{{_id}}/edit" class="btn btn-dark">Edit drone</a>
                </div>
                </div>
            </div>
    {{/each}}
    </div>
</div>
