<h1>Available drones</h1>
{{#each drones}}
    <div>
        <h2>{{name}}</h2>
        <h3>Propellers: {{propellers}}</h4>
        <h4>Velocity: {{maxSpeed}} m/s</h4>
        <a href="/drones/{{_id}}/edit">Edit the drone!</a>
{{!--         <form action="/drones/{{_id}}/delete" method="post">
            <button>Delete</button>
        </form>  --}}
        </br>
    </div>
    
{{/each}}
<a href="/drones/create">New Drone</a>
<a href="/">Back</a>