<h2>Available drones</h2>

{{#each dronesArray}}
  <section>
    <h3>{{this.name}}</h3>
    <p>
      Propellers:
      {{this.propellers}}
      <br />
      Max Speed:
      {{this.maxSpeed}}
      <br />
    </p>
    <a href="/drones/{{this._id}}/edit">Update details</a>
    <form method="POST" action="/drones/{{this._id}}/delete">
      <button type="submit">Delete</button>
    </form>
  </section>
{{/each}}