<h2>Available drones</h2>

{{#each drones}}
  <div>
      
    <p>Name: {{name}}</p>
    <a href="/views/drones/update-form.hbs">Back</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>

    <p>Propellers: {{propellers}}</p>
    <a href="/views/drones/update-form.hbs">Back</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>

    <p>Maximum Speed: {{maxSpeed}}</p>
    <a href="/views/drones/update-form.hbs">Back</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>

  </div>
{{/each}}