<header>
  <h2>Available drones</h2>
</header>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <body >
{{#each drones}}

<div>
<p>Drone Name :  {{this.name}} Drone Propellers : {{this.propellers}} Drone Speed : {{this.maxSpeed}}</p>
</div>

  

<div class="button" role="group" aria-label="Basic outlined example">

<div>
  <a href="/drones/{{this._id}}/edit">
  <button class ="btn btn-primary">Edit</button></a>
</div>

<div>
<form action="/drones/{{this._id}}/delete" method="GET">
  <button class="btn btn-primary" type="submit" class="btn btn-warning">delete</button>
</form>
</div>

</div>
</body>
{{/each}}