<h2>Available drones</h2>

{{#each drones}}
<ul>
    <li>Name: {{name}}</li>
    <li>Propellers: {{propellers}}</li>
    <li>Velocitat: {{maxSpeed}}</li>
    <a href="/drones/{{id}}/edit">EDITAR</a>
    <form action="/drones/{{id}}/delete" method="POST">
        <button class="btn btn-sm btn-warning" type="submit">ELIMINAR</button>
    </form>
</ul>

{{/each}}