<h2>Available drones</h2>

<div class="drones">
    {{#each drone}}

        <section class="drone-container">
            <h3>{{this.name}}</h3>
            <p>
                <strong>Propellers: </strong> {{this.propellers}} <br />
                <strong>Speed: </strong> {{this.maxSpeed}} <br />
            </p>

            <div class="actions">
                <a href="/drones/{{this._id}}/edit">Edit</a>

                <form action="/drones/{{this.id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </section>

    {{/each}}
</div>