<h1>Available drones</h1>

{{#each drones}}

    <h2>{{name}}</h2>
    <ul>
        <li>Propellers: {{propellers}}</li>
        <li>Max Speed: {{maxSpeed}}</li> 
    </ul>
    <a href="/drones/{{_id}}/edit">Update</a>
    <form method="POST" action="/drones/{{_id}}/delete">
        <button type="submit">Delete</button>
    </form>

{{/each}}