<h2>Available drones</h2>

{{#each droneData}}
  <table id="droneList">
    <thead>
      <tr class="tableHeading">
        <th>Name</th>
        <th>Number of propellers</th>
        <th>Max Speed </th>
        <th>Action</th>
     </tr>
    </thead>

     <tbody>
      <tr id="droneElem">
        <td >
          <span><a href="/drones/{{this._id}}/edit">{{this.name}}</span></a>
        </td>
    
        <td>
           <span>{{this.propellers}}</span>
        </td>
        <td>
           <span>{{this.maxSpeed}}</span>
        </td>
        <td>
          <form method="POST" action="/drones/{{this._id}}/delete">
          <button type="submit" class="btn btn-primary"><span>Delete</span></button>
          </form>
        </td>
      </tr>

{{/each}}


</table>