<div>
<h2>Available drones</h2>
{{#each drones}}
<h3>{{name}}</h3>
<ul>
    
    <li>Propellers: {{propellers}}</li>
    <li>MaxSpeed: {{maxSpeed}}</li>
    <a href="/drones/{{id}}">Ver el dron</a>
    <form action="/drones/{{id}}/delete" method="POST" style="display: inline-block;">
            <button>Eliminar</button>
        </form>
</ul>
{{/each}}
</div>