<h2>Available drones</h2>

<section>
{{#each drone}}

<div>
<h3>{{this.name}}</h3>
<p>Number of propellers: {{this.propellers}}</p>
<p>Max speed: {{this.maxSpeed}}</p>
<form action="/drones/{{this.id}}/delete" method="post">
<a href="/drones/{{this.id}}/edit">Update</a>
<button type="submit">Delete</button>
</form>
</div>

{{/each}}
</section>

<a href="/drones/create">Add yours</a>
