<h2>Available drones</h2>
<div>
{{#each drones}}
<hr>
    <p>Drone: {{this.name}}</p>
    <p>Propellers: {{this.propellers}}</p>
    <p>Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{this._id}}/edit">
        <button type="submit" class="btn btn-primary"> Edit</button>
    </a>
    <a href="/drones/{{this._id}}/delete">
        <button type="submit" class="btn btn-primary"> Delete</button>
    </a>
{{/each}}
</div> 