<h2>Available drones</h2>

{{#each drones}}
   
<p>Name:{{this.name}}</p>
    
<p>Propellers: {{this.propellers}}</p>
<p>Speed: {{this.maxSpeed}}</p>
<form method="POST" action="/drones/{{this._id}}/delete">
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" >DELETE</button>
  </div>
</form>
<form action="/drones/{{this._id}}/edit">
  <div class="mb-3">
    <button class="btn btn-primary" type="submit" >EDIT</button>
  </div>
</form>

{{/each}}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Propellers</th>
      <th scope="col">Max Speed</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

