<h1>Available Drones</h1>
<div id="drones">
{{#each drones}}
<div class="drone">
    <ul>
        <li>Name: {{this.name}}</li>
        <li>No. of propellers: {{this.propellers}}</li>
        <li>Max Speed: {{this.maxSpeed}} m/s</li>
        <li class="edit"><a href="/drones/{{this._id}}/edit">Edit</a></li> 
    </ul>
    <form action="/drones/{{_id}}" method="POST">
            <button>Delete</button>
    </form>
</div>
{{/each}}
</div>
<a class="create-href" href="/drones/create">Create New Drone</a>