<h1>Available drones</h1>

<section>
  <a href="/drones/create">Create a new drone</a>

  {{#each drones}}

    <div id="homepage">

      <h2>{{this.name}}</h2>
      <h3>{{this.propellers}}</h3>
      <h3>{{this.maxSpeed}}</h3>

      <div>
        <button> <a href="/drones/{{_id}}/edit">Edit</a></button>
        <form action="/drones/{{_id}}/delete" method="post">
          <button>Delete</button>
        </form>
      </div>

    </div>

  {{/each}}

</section>