<h1>Available drones</h1>

{{#each drones}}
  <section class="drone-summary">
    <h2>{{this.name}}</h2>
    <p>
      Propellers:
      {{this.propellers}}
      <br />
      Maxspeed:
      {{this.maxSpeed}}
      <br />
      <a href="/drones/{{_id}}/edit">Edit</a>
    </p>
    <p>
      <form action="/drones/{{_id}}/delete" method="POST">
        <button>Delete</button>
      </form>
    </p>
  </section>
{{/each}}