<h2>Available drones</h2>

{{#each allDrones}}
<div>
    <ul>
        <li>{{name}}</li>
        <li>{{propellers}}</li>
        <li>{{maxSpeed}}</li>
    </ul>
</div>
<a href="/drones/{{_id}}/edit"><button>Edit a drone</button></a>
<br>

<form action="/drones/{{_id}}/delete" method='POST'>
<br>
  <button type='submit'>Delete drone</button>
</form>

{{/each}}