<h2>Available drones</h2>

<section class="list">
{{#each drones}}
  <div class="drone">
    <p>
        Name: {{this.name}} <br>
        Rating: {{this.propellers}} <br>
        maxSpeed: {{this.maxSpeed}} <br>
    </p>
    <a href="/drones/{{this.id}}/edit"> Edit</a>
    <form action="/drones/{{_id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>
{{/each}}
</section>