<div class="container">
    <h2>Available Drones</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {{#each dronesFind}}
        <div class="col mb-4">
            <div class="card bg-secondary">
                <div class="card-body bg-secondary">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text"><strong>Propellers:</strong> {{propellers}}</p>
                    <p class="card-text"><strong>Max. Speed:</strong> {{maxSpeed}}</p>
                    <a href="/drones/{{_id}}/edit" class="btn btn-info">Update</a>
                    <form action="/drones/{{_id}}/delete" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger mt-2" />
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>