<div class="row mt-3">
    <div class="col-12 col-md-10">
        <h2>Available drones</h2>
    </div>
    <div class="col-12 col-md-2">
        <a href="/drones/create" class="btn btn-success btn-block">Add New</a>
    </div>
</div>
{{#if drones }}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Propellers</th>
            <th>Max Speed</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each drones as |drone|}}
        <tr>
            <td>{{drone.name}}</td>
            <td>{{drone.propellers}}</td>
            <td>{{drone.maxSpeed}}</td>
            <td><a href="/drones/{{drone.id}}/edit" class="btn btn-warning">Modify</a> </td>
            <td><form action="/drones/{{drone.id}}/delete" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>There are no drones</p>
{{/if}}