<h2>Available drones</h2>


{{#each drones}}

    <p>{{this.name}}</p>
    <p>{{this.propellers}}</p>
    <p>{{this.maxSpeed}}</p>
    <p>{{this._id}}</p>
    <a href="/drones/edit/{{this._id}}">update</a><br>
    <a href="/drones/delete/{{this._id}}">delete</a>
    
{{/each}}