<h2>Available drones</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Propellers</th>
      <th scope="col">Max. Speed</th>
    </tr>
  </thead>
 <tbody>
{{#each drones as |drone|}}
    <tr>
      <th scope="row"></th>
      <td>{{drone.name}}</td>
      <td>{{drone.propellers}}</td>
      <td>{{drone.maxSpeed}}</td>
      <td><a href="/drones/{{this.id}}/edit"> <button  class="btn-layout">Update Drone</button></a></td>
      <td>
        <form action="/drones/{{this.id}}/delete" method="POST"> 
        <button type="submit" class="btn btn-danger">Delete Drone</button>
        </form>
     </td>

    </tr>

    {{/each}}

    <a href="/drones/create"> <button class="btn-layout">New Drone</button></a>
  </tbody>
</table>
    
 