<h2>Available drones</h2>
{{#each drones}}
   <p>

    {{this.name}}
    {{this.propellers}}
    {{this.speed}}
      <a href="/drones/{{this._id}}">See details</a> 

    <a href="/drones/{{this._id}}/edit">Edit</a>
   </p> 

   <form action="/drones/{{this._id}}/delete" method="POST">

      <button>Delete</button>

    </form>
{{/each}}