<h2 id="drones-title">Available drones</h2>


<table class="drones-list">
   <thead>
        <th class="drones-list-title" colspan="5">Our Drones</th>
   </thead>

    <tr>
        <th>Drone</th>
        <th>Mropellers</th>
        <th>Max Speed</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {{#each drones}}
        <tr>
            <th class="drone-name">{{this.name}}</th>
            <th>{{this.propellers}}</th>
            <th>{{this.maxSpeed}} km/h</th>
            <th><a href="/drones/{{this.id}}/edit">EDIT</a></th>
            <th><a href="/drones/{{this.id}}/delete">DELETE</a></th>
        </tr>
    {{/each}}

</table>


<a href="/drones/create" class="btn">Add a drone</a>