<h2>Available drones</h2>

<form action="/drones/create" method="get">
    <button type="submit">Create Drone</button>
</form>


{{#each drones}}
<ul>
    <li>name: {{name}}</li>
    <li>propellers: {{propellers}}</li>
    <li>speed: {{maxSpeed}}</li>
    <a href="/drones/{{_id}}/edit">Update drone</a>
</ul>

<form action="/drones/{{_id}}/delete" method="post">
    <button type="submit">Delete Drone</button>
</form>

{{/each}}
