<h2>Available drones</h2>

<ul>
  {{#each drones}}
    <li>
      <h2>Name: {{name}}</h2>
      <h2>Propellers: {{propellers}}</h2>
      <h2>MaxSpeed: {{maxSpeed}}</h2>
      <a href="/drones/{{_id}}/edit">Edit</a>

      <form action="/drones/{{_id}}/delete" method="post">
        <button>Delete</button>
      </form>

    </li>
  {{/each}}
</ul>