<h2>Available drones</h2>

{{#each drones}}
<h4>{{name}}</h4>
<p>Propellers: {{propellers}}</p>
<p>Max. Speed: {{maxSpeed}}</p>
<a href="/drones/{{id}}/edit">Edit</a>
                <form action="/drones/{{id}}/delete" method="POST">
                    <button type="submit">Delete</button>
                    </form>
{{/each}}

<a href="/drones/create">Add a new drone!</a>