<h2>Available drones</h2>
<div id="list">
{{#each drones}}
<div class="drone">
    <div>{{name}}</div>
    <div>{{propellers}}</div>
    <div>{{maxSpeed}}</div>
    <a href="/drones/{{_id}}/edit">Edit</a>
    <form action="/drones/{{_id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}
</div>