<a href="/">Home</a>


{{#each drones}}

<h2>Name: {{name}}</h2>
<h4>Propellers: {{propellers}}</h4>
<h4>Speed:{{maxSpeed}}</h4>

<a href="/drones/{{_id}}/edit">Edit</a>
<form action="/drones/{{_id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>


{{/each}}