<h2>Available drones</h2>

{{#each drones}}
<ul>
    <li>{{this.name}}</li>
    <li>{{this.propellers}}</li>
    <li>{{this.maxSpeed}}</li>
</ul>

<a href="/drones/{{_id}}/edit">Update</a>
<form action="/drones/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
{{/each}}