<h2>Available drones</h2>
{{#each drones}}
{{name}}
{{propellers}}
{{speed}}
<a href="/drones/{{id}}/edit" class="btn btn-dark">Edit</a>

<form action="/drones/{{id}}/delete" method="POST">
    <button class="btn btn-sm btn-warning" type="submit">Delete</button>
</form>
{{/each}}