<h2>Available drones</h2>

{{#if drones}}
  
{{#each drones}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Drone Name: {{this.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Number of propellers: {{this.propellers}} </h6>
    <h6 class="card-subtitle mb-2 text-muted">Drone Maximun speed: {{this.maxSpeed}} </h6>
    <div class="card-btn-section">
    <a href="/drones/{{this.id}}/edit" class="btn btn-primary">Edit</a>
    <form action="/drones/{{this.id}}/delete" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </div>
  </div>
  </div>
{{/each}}
{{else}}
<p>There are no Drones!</p>

{{/if}}

<a href="/drones/create" class="btn btn-info">Create a new drone</a>
<a href="/" class="btn btn-info">Back to Homepage</a>