<h2>Available drones</h2>

{{#each allDrones }}

<div>
    <h3>{{name}}</h3>
    <p>{{propellers}}</p>
    <p>{{maxSpeed}}</p>
</div>
<a href="/drones/{{_id}}/edit">edit</a>

<form action="/drones/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>

{{/each}}

