<h2>Available Drones</h2>

{{#each drones}}
<div class="list">
    <h3>{{name}}</h3>
    <p>Propeller:{{propellers}}</p>
    <p>Speed:{{maxSpeed}}</p>
    <div class="list-buttons">
        <button type="submit"><a href="/drones/{{_id}}/edit">Edit</a></button>
        <form action="/drones/{{_id}}/delete" method="post">
            <button class="red-button" type="submit">Delete</button>
        </form>
    </div>
</div>
{{/each}}

<div class="list-buttons">
    <form action="/drones/create">
        <button class="green-button" type="input">Create a new drone</button>
    </form>

    <form action="/">
        <button class="black-button" type="input">Back</button>
    </form>

</div>