<h2>Available drones</h2>

    {{#each drone}}
        <ul>
            <li>Name: {{name}}</li>
            <li>Propellers: {{propellers}}</li>
            <li>Max Speed: {{maxSpeed}}</li>
        </ul>
        <a href="/drones/{{_id}}/edit">Edit this drone</a>
        <form action="/drones/{{_id}}/delete" method="post">
            <button>Delete drone</button>
        </form>
    {{/each}}