<h1>Available drones</h2>
<div class="dronesdiv">
  {{#each drones}}
    <div class="onlyonedrone">
      <h1>{{name}}</h1>
      <p>Propellers: {{propellers}}</p>
      <p>Max Speed: {{maxSpeed}}</p>

      <a href="/drones/{{id}}/edit">Edit Drone</a>
      <form action="/drones/{{id}}/delete" method="post">
        <button type="submit">Delete Drone</button>
      </form>
    </div>

  {{/each}}
</div>
