<h2>Available drones</h2>

{{#each drone}}
<h4>{{name}}</h4>
<p>{{propellers}}</p>
<p>{{maxSpeed}}</p>
<a href="/drones/{{_id}}/edit">Edit Drone</a>
<form action="/drones/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form>
<hr>
{{/each}}