<h2>Drones drones</h2>
<div class="row">
    {{#each drones}}
    <div class="class col-xl-3 display: flex, justify-content: center">
        <h1>
            <h3>El dron se llama {{name}}</h3>
            <h4>El número de sus helices son {{propellers}}</h4>
            <h5>Su velocidad máxima es de {{maxSpeed}}</h5>
            <a href="/drones/{{_id}}/edit" class="btn btn-dark">Update</a>
            <form action="/drones/{{_id}}/delete" method="POST">
                <input type="submit" value="Eliminar Drone" class="btn btn-danger">
            </form>

            <hr>
        </h1>
    </div>
    {{/each}}



</div>