<h2>Available drones</h2>
<div class="drone-wrapper">
    {{#each allDrones}}
    <div class="oneDrone">
    <h3>{{this.name}}</h3>
    <ul>Specs
        <li>Propellors: {{this.propellors}}</li>
        <li>Speed: {{maxSpeed}} KM/H</li>
    </ul>
    <a href="/drones/{{this.id}}/edit" class="edit-drone">Edit</a>
    <form action="/drones/{{this.id}}/delete" method="post">
    <button type='submit'>Delete</button>
    </form>
    </div>
    {{/each}}
</div>
<div class="add-button">
<a href="/drones/create">Add a new drone</a>
</div>