<h2>Available drones</h2>

<div>
    <div class="row">
    {{#each drone}}
     <div class="col-md-4">
  <div class="card m-2">
    <div class="card-body">
      <h2 class="card-title">Drone Name: {{this.name}}</h2>
      <h3>Propellers: {{this.propellers}}</h3>
      <p>Max Speed: {{this.maxSpeed}}</p>
      <div class="d-flex">
      <a class="btn btn-success me-2" href="/drones/{{this._id}}/edit">Edit info</a>
      <form action="/games/{{this._id}}/delete" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    </div>
  </div>
</div>
    {{/each}}
  </div>
</div>