<h2>Available drones</h2>

{{#each drones}}

<div><ul>
    <li>{{name}}</li>
    <li>{{propellers}}</li>
   <li>{{maxSpeed}}</li>
   
   <a href="/drones/{{_id}}/edit">Edit Drone</a>
<form action="/drones/{{id}}/delete" method="post">
 <button type="submit">Delete Drone</button>
 </form>
</ul>
</div>

{{/each}}