<div class="container">
  <h1>Available drones</h1>

  {{#each drones}}
    <div class="card text-center">
      <div class="card-header">
        <h5 class="card-title">{{name}}</h5>
      </div>
      <div class="card-body">
        <p class="card-text">Propellers: <b>{{propellers}}</b></p>Max Speed:
        <b>{{maxSpeed}}</b>
        <br />
        <div class="float-end">
          <a
            href="/drones/{{_id}}/edit"
            class="btn btn-outline-primary"
          >Edit</a>
          <a
            href="/drones/{{_id}}/delete"
            class="btn btn-outline-danger"
          >Delete</a></div>

      </div>

    </div>
  {{/each}}
  <br />
  <div class="float-end"><a href="drones/create"><button
        class="btn btn-primary btn-lg"
      >Create a new Drone</button></a>
  </div>

</div>