<h2>Available drones</h2>
<hr>
<div class="container">
    {{#each drone}}
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <p> <span class="fw-bold">Nombre:</span> {{name}}</p>

                    <p> <span class="fw-bold">Numero de Helices:</span> {{propellers}}</p>

                    <p> <span class="fw-bold">Velocidad Maxima:</span> {{maxSpeed}}</p>

                    <a href="/drones/{{id}}/edit" class="btn btn-sm btn-info">editar</a>
                    <form action="/drones/{{id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="eliminar" class="btn btn-sm btn-danger">
                    </form>
                </li>

            </ul>

        </div>
        <hr>
    </div>



    {{/each}}
</div>

<a href="/" class="btn btn-dark">Volver a inicio</a>
<a href="/drones/create-form" class="btn btn-dark">Crear nuevo dron</a>