<h2>Available drones</h2>
<hr>
{{#each drones}}
    <h4>{{this.name}}</h4>
    <p>Propellers: {{this.propellers}}</p>
    <p>Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{this._id}}/edit">Edit Drone</a>
    <form action="/drones/{{this._id}}/delete" method="post">
        <button type="submit">Delete Drone</button>
    </form>
{{/each}}