<h2>Available drones</h2>

<div class="card-deck">
  {{#each drones}}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">Propellers: {{this.propellers}}</p>
      <p class="card-text">Maximum Speed: {{this.maxSpeed}} mps</p>
      <div class="d-flex">
        <a class="btn btn-primary mr-2" href="drones/{{this._id}}/edit" class="card-link">Edit this drone</a>
        <form method="post" action="/drones/{{this._id}}/delete">
            <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<a class="btn btn-success mt-3" href="/drones/create">Create a new drone</a>