<h2>Available drones</h2>

<ul>
    {{#each drones}}
    <li>

        <p> name: {{this.name}}  </p>
        <p> propellers : {{this.propellers}} </p>
        <p> max speed: {{this.maxSpeed}}</p>
                <a href="/drones/{{this.id}}">update drone</a>
        <form method="post" action="/drones/{{this.id}}/delete">
        <button> delete drone</button>
        </form>

    </li>


    {{/each}}
</ul>