<h2>Available drones</h2>
{{#each drones}}
<div>
    <div>{{name}}</div>
    <div>{{propellers}}</div>
    <div>{{maxSpeed}}</div>
    <a href="/drones/{{_id}}/edit">Edit</a>
    <form action="/drones/{{_id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}
