<h2>Available drones</h2>
<hr>
{{#each drones}}
<div>
 <p> Name: {{name}}</p> 
    <br>
 <p> Propellers{{propellers}}</p> 
    <br>
    <p> maxSpeed: {{maxSpeed}}</p>
    <hr>
</div>




<button>
   <a href="/drones/{{id}}/edit">Edit page</a>     
</button>
<hr>

<button>
   <a href="/drones/create">Create page</a>     
</button>

<hr>

<form action="/drones/{{id}}/delete" method="POST">
<button type="submit" class="btn btn-danger"> Borrar </button>
</form>
      


{{/each}}

