<h1>Available drones</h1>
<hr>
{{#each drones}}
<h2>Name: {{name}}</h2>
<h2>Propellers: {{propellers}}</h2>
<h2>Speed: {{maxSpeed}}</h2>

<a href="drones/{{_id}}/edit">Editar</a>
<form action="/drones/{{_id}}/delete" method="POST">
    <input type="submit" value="eliminar">
</form>

<hr>
{{/each }}
<a href="/drones/create">Crear</a>
<br>