<h2>Available Drones</h2>

<ul>
{{#each dronesfound}}
<li> <h3>Name: {{this.name}} </h3> </li>
<li> <p>Propellers: {{this.propellers}} </p> </li>
<li> <p>Speed: {{this.maxSpeed}} </p> </li> 

<li> <a href="/drones/{{this._id}}/edit"> See more </a> </li>

<form method="POST" action="/drones/{{this._id}}/delete">
<label for="name">DELETE</label>
<input type="text" value="{{this.name}}" name="name" />
<button type="submit">DELETE</button>
</form>

{{/each}}
</ul>
