<h2>Available drones</h2>
{{#each drones}}
  <div>
    Name:
    {{this.name}}
    <br />
    Propellers:
    {{this.propellers}}
    <br />
    Max Speed:
    {{this.maxSpeed}}
    <br />
    <br />
    <a href="/drones/{{this._id}}/edit">Edit</a>
    <br />
    <br />
    <form action="/drones/{{this._id}}/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>
  --
  <br />
{{/each}}