<section class="drone-list">

{{#each drones}}
<div class="drone-container">
    <h3>{{this.name}}</h3>
    <ul>
        <li>Propellers : {{this.propellers}}</li>
        <li>Max speed : {{this.maxSpeed}}</li>
    </ul>
    <div class="drone-actions">
        <a href="/drones/{{this.id}}/edit" class="button">Edit</a>
        <form method="post" action="/drones/{{this.id}}/delete" >
            <button id="delete" class="button">Delete</button>
        </form>
    </div>
</div>
{{/each}}
<div id="create-box" class="drone-container">
    <a href="/drones/create"  class="button" >create drone</a>
</div>

</section>



