<h2>Available drones</h2>
<a href="/drones/create">Create a Drone </a>
{{#each drones}}
<p>{{name}}</p>
<p>{{propeller}}</p>
<p>{{maxSpeed}}</p>
<a href="/drones/{{id}}/edit">Edit</a>
<form action="/drones/{{id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>
{{/each}}