<div class="container p-3">
    <h2>Available drones:</h2>
    <div class="row">
        {{#each drones}}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body d-flex flex-column justify-content-center drone-card">
                    <h5 class="card-title text-center">{{name}}</h5>
                    <p class="card-text"><strong>Propellers:</strong> {{propellers}}</p>
                    <p class="card-text"><strong>Max speed:</strong> {{maxSpeed}}</p>
                    <div class="row">
                        <div class="col-6 d-grid gap-2">
                            <a href="/drones/{{id}}/edit" class="btn btn-primary btn-sm">Edit </a>

                        </div>
                        <div class="col-6 ">
                            <form action="/drones/{{id}}/delete" method="post" class="d-grid gap-2">
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}
    </div>


    <div class="my-3">
        <h3 class="my-2">Do you want create a new Drone?</h3>
        <a href="/drones/create" class="btn btn-primary">Create drone</a>
    </div>
</div>