<div class="main-content">
    <h2>Available drones</h2>
    {{#each infoDron}}
    <h3>{{name}}</h3>
    <p><strong>Propellers:</strong> {{propellers}}</p>
    <p><strong>Max speed:</strong> {{maxSpeed}}</p>
    <a href="/drones/{{id}}/edit">Editar</a>
    <form action="/drones/{{id}}/delete" method="POST">
        <button type="submit">Eliminar</button>
    </form>
    {{!-- <a href="/drones/{{id}}/delete">Eliminar</a> --}}
    {{/each}}
</div>