<h2>Available drones</h2>
{{#each drones as |drone|}}
  <h3>{{name}}</h3>
  <p>{{propellers}}</p>
  <p>{{speed}}</p>
  <a href="/drones/{{_id}}/edit">Edit</a>
  <form action="/drones/{{_id}}/delete" method="post">
    <button type="submit">Delete</button>
  </form>
{{/each}}