<h2>Available drones:</h2>
<br><br>

{{#each myDrones}}

<h4>{{name}}</h4>
<br>
<p>Propellers:{{propellers}}</p>
<br>
<p>Max Speed:{{maxSpeed}}</p>
<br>

<a href="/drones/{{id}}/edit">Edit</a>
<br><br>
<form action="/drones/{{id}}/delete" method="POST">
    <input type="submit" value="Delete" id="">
</form>
<br><br><br><br>
{{/each}}