<h2>Available drones</h2>
<div class="drones-container">
  {{#each drones}}
    <div>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{this.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Propellers: {{this.propellers}}</li>
          <li class="list-group-item">Max Speed: {{this.maxSpeed}}</li>
        </ul>
      </div>
      <form action="/drones/{{this._id}}/edit" method="GET" class="list-forms">
        <button type="submit" class="btn btn-light">Edit</button>
      </form>
      <form
        action="/drones/{{this._id}}/delete"
        method="POST"
        class="list-forms"
      >
        <button type="submit" class="btn btn-light">Delete</button>
      </form>
    </div>
  {{/each}}
</div>
<form action="/drones/create" method="GET">
  <button type="submit" class="btn btn-primary">Create another drone</button>
</form>