<h2>Available drones</h2>
<a href="/drones/create">Create a new Drone</a>
{{#each drones}}
<div>
   <h3>{{name}}</h3>
   <p>{{propellers}}</p>
    <p>{{maxSpeed}}</p>
<a href="/drones/{{_id}}/edit">Update drone</a>
<form action="/drones/{{_id}}/delete" method="post">
   <button >Delete</button>
   </form>
</div>
{{/each}}

