<h2>Stock</h2>
<div class="row">
    {{#each drone}}
            <div class="card text-center m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title mb-2"><strong>Model: {{name}}</strong></h5>
                    <h5 class="card-title mb-2"><strong>Propellers: {{propellers}}</strong></h5>
                    <h5 class="card-title mb-1"><strong>Max Speed: {{maxSpeed}}</strong></h5>
                </div>
                <div>
           
                     <button type="submit" class="btn-sm btn-dark mb-2"><a class="none__style" href="/drones/{{_id}}/edit">Edit</a></button>
                     <form class="d-inline" action="/drones/{{id}}/delete" method="post">
                        <button type="submit" class="btn-sm btn-dark mb-2">Remove</button>
                    </form>
                </div>
            </div>
    {{/each}}
</div>
