<h2>Drones: The Complete Collection</h2>

<div class="main-container">
    {{#each allTheDrones}}
    <div class="drone-container">
        <p>Name: {{this.name}}</p>
        <p>Number of propellers: {{this.propellers}}</p>
        <p>Max speed: {{this.maxSpeed}}</p>

        <a href="/drones/{{this._id}}/edit">(Edit)</a>

        <form action="/drones/{{this._id}}/delete" method="post">
            <button class="delete-button">Delete !</button>
        </form>

    </div>
    {{/each}}

    <div class="link-box">
        <a href="/drones/create">Add new drone</a>
    </div>

</div>