<h2>Available drones</h2>

{{#each drones as |drone| }}

    <h3>{{ drone.name }}</h3>
    <p>Propellers: {{ drone.propellers }}</p>
    <p>Max speed: {{ drone.maxSpeed }}</p>

    <a href="/drones/{{drone._id}}/edit">Edit Drone</a>

    <form action="/drones/{{drone._id}}" method="POST">
        <button type="submit">Eleminar</button>
    </form>

{{/each}}




