<h2>Available drones</h2>
{{#each allTheDronesFromDB}}
<div>
  <h3>Name:{{name}}</h3>
  <p> Propellers:{{propellers}}</p>
  <p> Maximum Speed:{{maxSpeed}}</p>
  <a href="/drones/{{_id}}/edit">Edit</a>
  <form action="/drones/{{_id}}/delete" method="POST">
    <button>Delete</button>
    </form>
</div>
<hr>
{{/each}}