<h2>DRONES DISPONIBLES</h2>
<hr>

{{#each drones}}
<ul>
    <li>
        <h3>Nombre: {{name}}</h3>

    </li>
    <li>
        <h3>Propellers: {{propellers}}</h3>
    </li>
    <li>
        <h3>Velocidad max: {{maxSpeed}}</h3>
    </li>
    <a class="btn btn-warning" href="/drones/{{_id}}/edit">Edit drone info</a>

    <form action="/drones/{{_id}}/delete" method="POST" style="display: inline-block;">
        <button type="button" class="btn btn-danger">Eliminar</button>
    </form>
</ul>

<hr>
{{/each}}

<a class="btn btn-warning" href="/" role="button">Inicio</a>

<a class="btn btn-warning" href="/drones/create" role="button">Crea tu Drone</a>