<div class="container">
    <h2>Available drones</h2>
    <br>
    <div class="row">
        {{#each drones}}
        <div class="card col-md-3 m-2 mb-4" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Name: {{name}}</h5>
                <p class="card-text">Propellers: {{propellers}}</p>
                <p class="card-text">MaxSpeed: {{maxSpeed}}</p>
                <div class="row">
                    <a href="/drones/{{_id}}/edit" class="btn btn-dark btn-sm">Edit</a>
                    <form action="/drones/{{_id}}/delete" method="POST">
                        <div class="d-grid">
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                        </div>
                    </form>
                </div>


            </div>





        </div>
        {{/each}}
    </div>
    <a href='/drones/create-form' class="btn btn-dark">Add a new drone</a>
</div>