<div class="container">


    <h2>Available drones</h2>
    <ul>
    {{#each drones}}

            
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">
                 Nº de hélices:{{propellers}}<br>Velocidad:{{maxSpeed}}
                </p>
                <a href='/drones/{{_id}}/edit' class="card-link">Edit</a>
               <form action="/drones/{{_id}}/delete" method="post">
                <button>Eliminar</button>
            </form>
            </div>
        </div>

        {{/each}}

    </ul>


    <a href="/drones/create">Crear nuevo Dron </a>

</div>      




    




    



