<h2>Available drones</h2>

{{#each allDrones}}
<ul>
    <li>{{name}}</li>
    <li>{{propellers}}</li>
    <li>{{maxSpeed}}</li>
    <a href="/drones/{{_id}}/edit">Edit drone</a>
    <form action='/drones/{{_id}}/delete' method="POST"><button>Delete</button></form>
</ul>

{{/each}}