<div class="container-md mt-5">
    <div class="row">
        {{#each drones}}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{name}}</h2>
                    <p>propellers: {{propellers}}</p>
                    <p>Max speed: {{maxSpeed}}</p>
                    <div class="row">
                        <div class="col-5">
                            <a href="/drones/{{id}}/edit" class="btn btn-dark btn-sm">Edit dron</a>
                        </div>
                        <div class="col-5">
                            <form action="/drones/{{id}}/delete" method="POST">
                                <input type="submit" value="Delete dron" class="btn btn-danger btn-sm">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <a href="/drones/create" class="btn btn-dark btn-lg">Create new dron</a>
    </div>
</div>