{{#if saved}}
  <h1>Drone saved</h1>
  <hr />
{{/if}}
<h2>Available drones</h2>
<hr />
{{#each drones}}
  <div class='drone-card'>
    <h1>{{this.name}}</h1>
    <h3>Propellers: {{this.propellers}}</h3>
    <h3>Maximum Speed: {{this.maxSpeed}}</h3>
  </div>
  <a href='/drones/{{this.id}}/edit'>edit</a>
  <form action='/drones/{{this.id}}/delete' method='post' class='form'>
<div class='form'>
  <input type='submit' value='Delete' />
</div>
</form>
  <hr />
{{/each}}

<form action='/drones/{{this.id}}/delete' method='post' class='form'>
<div class='form'>
  <input type='submit' value='Delete' />
</div>
</form>

/drones/<oneDroneId>/delete 