<div class="container list-drone">

    <div class="row">
        <h2>Available drones</h2>
        <div class="col-4">
            {{#each drone}}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{name}}</div>
                    Propellers: {{propellers}}
                    <br>
                    Maximum Speed: {{maxSpeed}}
                    <br>
                    <a href="/drones/{{_id}}/edit/" type="button" class="btn btn-dark">Edit a Drone</a>
                </div>
                <span class="badge bg-primary rounded-pill">
                    <form action="/drones/{{_id}}/delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </span>
            </li>

            {{/each}}
        </div>
    </div>
    <br>
    <a href="/drones/create" type="button" class="btn btn-dark">Add a Drone</a>
</div>