 <h1>Available drones</h1>
<hr>

 {{#each drones}}
  
  <div>
    <p> Name: {{name}}</p>
    <p>Proppellers: {{propellers}}</p>
    <p>Max Speed: {{maxSpeed}} kms/h </p>

    <a href="/drones/{{_id}}/edit">Edit</a>
    
    <form action="/drones/{{_id}}/delete" method="POST"> {{!-- <-- add the form  --}}
      <button>Delete</button>
    </form>
  </div>
  <hr>
{{/each}}

