<h1>Listado de publicaciones</h1>

<hr>

<ul>
    {{#each drones}}

    <li>
        <a href="/drones">{{name}}</a>
        <p>{{propellers}} propulsores</p>
        <p>{{maxSpeed}} km/h</p>
        <a href="/drones/{{id}}/edit">editar</a>
        <form action="/drones/{{id}}/delete" method="POST">
                <button class="btn btn-sm btn-warning" type="submit">Eliminar</button>
        </form>
    </li>

    {{/each}}
</ul>

<hr>

<a href="/">Volver al incio</a>
<hr>
<a href="/drones/create">Crear dron</a>
<hr>


