<h2>Available drones</h2>

{{#each drones}}
	<div class="drone-container">
		<h3>{{this.name}}</h3>
		<p>Propellers: <span>{{this.propellers}}</span></p>
		<p>Max Speed: </span>{{this.maxSpeed}}</span> m/s</p>
		<a href="/drones/{{this._id}}/edit">Edit Drone</a>
		<form method="POST" action="/drones/{{this._id}}/delete">
			<button type="submit"> Delete Drone </button>
		</form>
	</div>
{{/each}}