<h2>Available drones</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Propellers</th>
            <th scope="col">Max Speed</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>

        </tr>
    </thead>
    <tbody>
        {{#each drones}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{propellers}}</td>
            <td>{{maxSpeed}}</td>
            <td>
                <a class="btn btn-info" href="/drones/{{id}}/edit">Edit</a>
        </td>
        <td>
            <form class="delete-form" action="/drones/{{id}}/delete" method="post">
                    <button type="submit" class="btn btn-danger" onclick="return clicked()">Remove</button>
                </form>
        </td>
        </tr>
{{/each}}  
    </tbody>
</table>