<h2>Drones disponibles</h2>

<ul>
{{#each data}}
	<li>
	<h2>Nombre: {{this.name}}</h2>
        <h2>Hélices: {{this.propellers}}</h2>
        <h2>Velocidad:  {{this.maxSpeed}}</h2>
        <img src={{this.image}} alt="">
        <a href="/drones/{{this._id}}/edit">
			Editar
		</a>

        <form method="POST" action="/drones/{{this._id}}/delete">
        <button method="POST">Borrar</button>
        </form>

	</li>
{{/each}}
        <button type="button" onclick="window.location.href='/drones/create';">Let's create a drone!!!</button>
</ul>