<h2>Available drones</h2>
<a href="/drones/create" class="link-to-add-drone">Create a drone</a>
{{#each drones}}
  <div class="drones-list-outer-container">
    <div class="drones-list-inner-container">
      <h3>Name:{{name}}</h3>
      <h3>Propellers:{{propellers}}</h3>
      <h3>Speed:{{maxSpeed}}</h3>
      <a id="edit-drone-btn" href="/drones/{{_id}}/edit">Edit Drone</a>

      <form action="/drones/{{_id}}/delete" method="post">
        <button type="submit">Delete drone</button>
      </form>
    </div>
    <br />
    <hr />
  </div>
{{/each}}