<h2>Available drones</h2>
<div class="container d-flex gap-3 flex-wrap justify-content-center">
    {{#each drones}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Number of Propellers : {{propellers}}</p>
            <p class="card-text">Maximum Speed : {{maxSpeed}}</p>
            <a href="/drones/{{_id}}/edit" class="btn btn-secondary">Edit</a>
            <form action="/drones/{{_id}}/delete" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>

        </div>
    </div>
    {{/each}}
</div>