<h2>Available drones</h2>
<a href="/create">Add new Drone</a>
{{#each allDrones}}
  <div class="ctn-drone">

    <h3> {{name}} </h3>
    <p>
      Number of propellers:
      {{propellers}}
    </p>
    <p>
      Maximum Speed:
      {{maxSpeed}}
    </p>
    <form action="/{{id}}/edit" method="get">
      <button type="submit">edit</button>
    </form>
    <form action="/{{id}}/delete" method="post">
      <button type="submit">delete</button>
    </form>
  </div>
  <hr />
{{/each}}