<h2>List of drones</h2>

{{#each drones}}
        <div class="row">
            <div class="bg-success card lista col-md-9">
                <p> Model: {{name}}</p>
                <p> Propellers: {{propellers}}</p>
                <p>Speed: {{maxSpeed}}</p>
            </div>
            <div class="card col-md-3 bots">
                <form action="/drones/{{_id}}/edit" method="GET">
                    <button type="submit" class="btn btn-success">Edit</button>
                </form>
                <br>
                <form action="/drones/{{_id}}/delete" method="POST">
                    <button type="submit" class="btn btn-success">Delete</button>
                </form>
            </div>
        </div>
    <br><br>
        
{{/each}}