<h2>Available drones</h2>
{{#each allTheDrones}}
<div>
     <h3>Name:{{name}}</h3>
     <h3>Propellers:{{propellers}}</h3>
     <h3>MaxSpeed:{{maxSpeed}}</h3>

     <a href="/drones/{{_id}}/edit">Edit</a>

     <form action="/drones/{{_id}}/delete" method="post">
     <button>Delete</button>
     </form>
</div>
{{/each}}