<h2>Available drones</h2>

<div id="availDronesContainer">
    {{#each drones}}
    
    <div class="drones-summary">
        <h2>{{this.name}}</h2>
        <img src="/images/drone.png" alt="">
        <div>
            <p>
                Propellers: {{this.propellers}} <br />
                maxSpeed: {{this.maxSpeed}} <br />
            </p>
    
            <div id="linksContainer">
                <a class="btn" href="/drones/{{_id}}/edit">Update</a>
                <form class="btn" action="/drones/{{_id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
    </div>
    
    
    {{/each}}
</div>