<h2>Available drones</h2>


    {{#each drones}}

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h4>{{name}}</h4>
    <h5 class="card-title">{{propellers}}</h5>
    <p class="card-text">{{maxSpeed}}</p>

    <form action="/drones/{{_id}}/update-form" class="d-grid gap-2 col-6 mx-auto">
<button class="btn btn-primary" type="submit">Edit</button>
    </form>

    <form action="/drones/{{_id}}/delete" class="d-grid gap-2 col-6 mx-auto">
<button class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>
    {{/each}}
</div>

