<div class="container">

    <h2 class="mb-5">Available drones</h2>

    <div class="row mb-5">
        {{#each drones}}
        <div class="col-3 mb-5 drone-card">
            <div class="card without" style="width: 20rem;">
                <p><strong>Name:</strong> {{name}}</p>
                <p><strong>Propellers:</strong> {{propellers}}</p>
                <p><strong>Max Speed:</strong> {{maxSpeed}}</p>
                <div class="card-body">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="/drones/{{id}}/edit" class="btn btn-success">Edit</a>
                        <form action="/drones/{{id}}/delete" method="POST">
                            <input type="submit" value="Delete" class="btn rounded-0 btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="create-btn">
        <a href="/drones/create" class="btn btn-warning">Create</a>
    </div>

</div>