<h2>Available drones</h2>

<div class="list">
    {{#each drones}}
        <div>
            <h3>{{name}}</h3>
            <p>Propellers: {{propellers}}</p>
            <p>Maximum Speed: {{maxSpeed}}</p>

            <div class="edit-delete">
                <a href="/drones/{{_id}}/edit">Edit</a>

                <form action="/drones/{{_id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>

<div class="create">
    <a href="/drones/create">Create a new drone</a>
</div>
