<h2 class="listH2">Available drones:</h2>

<div class="listCard"></div>
{{#each dronesFromDB}}
        <div class="listText">
            <h2 class="listSecondH2">Name: {{this.name}}</h2>
            <hr>
            <p>Propellers: {{this.propellers}}</p>
            <hr>
            <p>Max Speed: {{this.maxSpeed}}</p>
            <hr>
            <a href="/drones/{{_id}}/update-form">Edit</a>
            <form action="/drones/{{_id}}/delete" method="POST">
            <button class="listBtn">Delete</button>
            </form>
        </div>
   
{{/each}}
 </div>
<a href="/drones/create">Create New Drone!</a>
<br>
<a href="/">Back to Homepage</a>