<h2>Available drones</h2>

{{#each drones}}
   <p>
    <ul>
        <li>
            name: {{this.name}}
        </li>
        <li>propellers:{{this.propellers}}</li>
         <li>max speed:{{this.maxSpeed}}</li>
    </ul>
   </p> 
   <a href="/drones/{{_id}}/edit">Edit</a> 
   <form action="/drones/{{_id}}/delete" method ="post"> 
        <button>Delete</button>
        </form>
{{/each}}
</br>
</br>
<a href="/drones/create">Add Drone</a>
</br>

