<h2 class="text-center">List of all Drones</h2>

<br>
<div class="row justify-content-center">
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th> Name </th>
                <th> Max. Speed </th>
                <th> Number of Propellers </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>

            {{#each drones }}

            <tr scope="row">
                <td>
                    <h4>{{name}}</h4>
                </td>
                <td>
                    <p> {{maxSpeed}}</p>
                </td>
                <td>
                    <p> {{propellers}}</p>
                </td>
                <td>
                    <a class="edit-btn" href="/drones/{{_id}}/edit">Edit</a>
                </td>
                <td>
                    <form action="/drones/{{_id}}/delete" method="POST">
                        <button class="fa fa-trash del-drone"> </button>
                    </form>
                </td>
            </tr>

            {{/each }}
        </table>
    </div>
</div>