<h2>Available drones</h2>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    {{#each drones}}
    <h1>{{this.name}}</h1>
    <p>Propellers: {{this.propellers}}</p>
    <p>Maximum Speed: {{this.maxSpeed}}</p>
    <a href="/drones/{{this._id}}/edit">Edit</a>
    {{/each}}
</div>
<button type="submit" class="btn btn-primary"><a href="/drones/create">Create new drone</a></button>