<h2>Available drones</h2>
<ul>
  {{#each drones}}
    <li>
      <h3>Name: {{name}}</h3>
      <p>Propellers: {{propellers}}</p>
      <p>Max Speed: {{maxSpeed}}</p>
      <a href="/drones/{{_id}}/edit">Edit</a>
      <form action="/drones/{{this._id}}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>