{{#if isDeleted}}
<h1>The {{name}} has been deleted from the list</h1>

{{else if isUpdated}}
<h1>The {{name}} has been updated</h1>

{{else if isCreated}}
<h1>Congratulations!! you have created, {{name}}, a new Drone!!</h1>

{{/if}}

<a href="/drones"><button>Back to Drones</button></a>