<h2>Update the drone</h2>
<form action="/drones/{{id}}/edit" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{name}}" required>

    <label for="propellers">Propellers:</label>
    <input type="number" name="propellers" min="0" value="{{propellers}}" required>

    <label for="maxSpeed">Speed:</label>
    <input type="number" name="maxSpeed" min="0" value="{{maxSpeed}}" required>

    <button type="submit">Edit</button>
</form>

{{#if error}}
<p>{{error}}</p>
{{/if}}