<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="POST">
  <div class="mb-3">

    <label class="form-label" for="name">Name</label>
    {{! we can add information received as values of the input tags. They will appear to the user with the current information of the ToDo }}
    {{!-- IMPORTANT: always wrap the {{}} around quotes when setting attribute values. '{{data.title}}' --}}
    <input
      class="form-control"
      type="text"
      name="name"
      value="{{drone.name}}"
    />

    <br />

    <label class="form-label" for="propellers">Propellers</label>
    {{! we can add information received as values of the input tags. They will appear to the user with the current information of the ToDo }}
    {{!-- IMPORTANT: always wrap the {{}} around quotes when setting attribute values. '{{data.title}}' --}}
    <input
      class="form-control"
      type="text"
      name="propellers"
      value="{{drone.propellers}}"
    />

    <br />

    <label class="form-label" for="maxSpeed">Max speed</label>
    {{! we can add information received as values of the input tags. They will appear to the user with the current information of the ToDo }}
    {{!-- IMPORTANT: always wrap the {{}} around quotes when setting attribute values. '{{data.title}}' --}}
    <input
      class="form-control"
      type="text"
      name="maxSpeed"
      value="{{drone.maxSpeed}}"
    />

    <br />

    {{! when we click the button, the input values will be transmitted through the body of the request }}
    <button class="btn btn-primary" type="submit">SUBMIT CHANGES</button>

  </div>