
<h2>Update the drone: {{this.drone.name}}</h2>

<form action="/drones/{{this.drone._id}}/edit" method="POST">
  
  <label> Name:
    <input type="string" name="drone" value="{{this.drone.name}}" />
  </label>

  <label> Propellers:
    <input type="number" name="propellers" value="{{this.drone.propellers}}" />
  </label>

  <label> Max Speed:
    <input type="number" name="maxSpeed" value="{{this.drone.maxSpeed}}" />
  </label>

  

  <button type="submit">Save changes</button>
</form>