<h2>Update the drone: {{drone.name}}</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
  <label> Name:
    <input type="text" name="name" value="{{drone.name}}" />
  </label>

  <label> No. Of Propellers:
    <input type="number" name="propellers" value="{{drone.propellers}}" />
  </label>

  <label> Max Speed in m/s:
    <input type="number" name="maxSpeed" max="18" value="{{drone.maxSpeed}}"/>
  </label>

  <button>Save changes</button>
</form>
