<h2>Actualiza el drone</h2>
<!--
<form action="/drones/{{drone._id}}/edit" method="POST">

    <label>Nombre</label>
    <input type="text" name="name" value="{{ drone.name }}" />
    <label>Propulsores</label>
    <input type="number" name="propellers" value="{{ drone.propellers }}" />
    <label>Velocidad</label>
    <input type="number" name="maxSpeed" value="{{ drone.maxSpeed }}" />

    <button type="submit">Guardar cambios</button>

</form>
-->

<form  action="/drones/{{drone._id}}/update-form" method="POST" class="space-y-8 divide-y divide-gray-200">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">

    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div class="space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Nombre </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="text" name="name" value="{{ drone.name }}" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Propulsores </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input type="number" name="propellers" value="{{ drone.propellers }}" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Velocidad Máxima </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <input name="maxSpeed" type="number" value="{{ drone.maxSpeed }}" rows="3" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5">
    <div class="flex justify-end">
      <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Guardar cambios</button>
    </div>
  </div>
</form>