<h2>Update {{name}}</h2>

<hr>

<form action="/drones/{{_id}}/edit" method="POST">

    <div class="mb-3">
        <label for="title" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{name}}">
    </div>
    <div class="mb-3">
        <label for="propellers" class="form-label">Propellers</label>
        <input type="number" class="form-control" id="propellers" name="propellers" value="{{propellers}}">
    </div>
    <div class="mb-3">
        <label for="maxSpeed" class="form-label">Velocitat</label>
        <input type="number" class="form-control" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}">
    </div>

    <button type="submit" class="btn btn-dark">Update!</button>
    <a href="/" class="btn btn-dark">HOME</a>
</form>