<h2>Update the drone</h2>
<h2>Name: {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="post">
  <label for="name"> Name:
    <input type="text" name="name" value="{{name}}" id="name"/>
  </label>

  <label for="propellers"> Propellers:
    <input type="text" name="propellers" value="{{propellers}}" id="propellers" />
  </label>

  <label for="maxSpeed"> MaxSpeed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" id="maxSpeed" />
  </label>

  <button type="submit">Update</button>
</form>