<h2>Update a drone</h2>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-3">

            <h2>Update a drone</h2>
            <hr>

            <form action="/drones/{{id}}/edit" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Propellers</label>
                    <input type="text" class="form-control" id="propellers" name="propellers" value="{{propellers}}">
                </div>

                <div class="mb-3">
                    <label for="maxSpeed" class="form-label">Max Speed</label>
                    <input type="text" class="form-control" id="maxSpeed" name="maxSpeed" value=" {{maxSpeed}}">
                </div>
                <div class="mb-3">
                    <input type="hidden" class="form-control" id="drone_id" name="drone_id" value="{{_id}}">
                </div>


                <div class="d-grid mt-5">
                    <button type="submit" class="btn btn-dark btn-lg">Update your drone</button>
                </div>



            </form>
        </div>
    </div>
</div>