<h2>Update the {{name}} drone</h2>
<div class="row">
    <div class="col-12">
        <form action="/drones/{{id}}/edit" method="POST">
            <div class="mb-4">
                <label for="field1" class="form-label">Drone name</label>
                <input type="text" class="form-control" id="field1" name="name" value="{{name}}">
            </div>

            <div class="mb-4">
                <label for="field2" class="form-label">Number of propellers</label>
                <input type="text" class="form-control" id="field2" name="propellers" value="{{propellers}}">
            </div>

            <div class="mb-4">
                <label for="field3" class="form-label">Max Speed</label>
                <input type="text" class="form-control" id="field3" name="maxSpeed" value="{{maxSpeed}}">
            </div>
            <button type="submit" class="btn btn-dark">Update drone</button>
        </form>
    </div>
</div>