<h2>Update the drone</h2>

<form action="/drones/{{_id}}/edit" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{name}}">
    <label for="propellers">Propellers</label>
    <input type="text" name="propellers" id="propellers" value = "{{propellers}}">
    <label for="maxSpeed">MaxSpeed<maxSpeed/label>
    <input type="text" name="maxSpeed" id="maxSpeed" value="{{maxSpeed}}">
    
    <button type="submit">Edit</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}