<h2>Update {{drone.name}}</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
  <label> Drone Name:
    <input type="text" name="name" value="{{drone.name}}">
  </label>
 
  <label> No. Propellers:
    <input type= "number" name="propellers" value="{{drone.propellers}}" min="1"/>
  </label>
 
  <label> Max Speed:
    <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}"  min="1"/>
  </label>
 
 
  <button type="submit"> Update </button>
</form>