<h2>Update {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="POST">

    <label>
        Drone's Name:
        <input type="text" name="name" value="{{name}}">
    </label>
    <br>

    <label>
        Propellers
        <input type="text" name="propellers" value="{{propellers}}">
    </label>
    <br>

    <label>
        Maximus Speed
        <input type="text" name="maxSpeed" value="{{maxSpeed}}">
    </label>
    <br>

    <button type="submit">Update Drone</button>

</form>