<h2>Update the drone: {{drone.name}}</h2>

<form action="/drones/{{_id}}/edit" method="POST">
  
  
  <label for="name-input">name:</label>
  <input type="text" name="name" value="{{drone.name}}"/>

  <label for="propellers-input">propellers:</label>
  <input type="number" name="propellers" value="{{drone.propellers}}" min="1" max="20"/>

  <label for="maxSpeed-input">maxSpeed:</label>
  <input type="number" name="maxSpeed" value="{{drone.maxSpeed}}" min="1" max="99">

  

  <button>Save changes</button>

</form>



  

