<h2>Update drone {{name}}:</h2>

<form action="/drones/{{_id}}/update-form" method="post">

  <label for="name-input">Name:</label>
  <input type="text" name="name" id="name-input" value="{{name}}" />

  <label for="propellers-input">Propellers:</label>
  <input type="text" name="propellers" id="propellers-input" value="{{propellers}}" />

  <label for="maxSpeed-input">Max Speed:</label>
  <input type="text" name="maxSpeed" id="maxSpeed-input" value="{{maxSpeed}}" />

  <button type="submit">Update</button>

</form>