<h2>Update the drone</h2>

{{!-- ./views/books/edit.hbs --}}
{{!-- ./views/books/edit.hbs --}}
<h1>Editar Dron</h1>

Este es el id: {{data._id}}

<form action="/drones/{{data._id}}/edit" method="post">
	<label>Nombre</label>
	<input type="text" name="name" value="{{data.name}}" />

	<br />

	<label>Helices</label>
	<input type="number" name="propellers" value="{{data.propellers}}" />

	<br />

    <label>Velocidad Maxima</label>
	<input type="number" name="maxSpeed" value="{{data.maxSpeed}}" />

	<br />

	<button>
		Guardar nuevos cambios
	</button>


</form>