<h2>Update the drone</h2>

{{!-- ./views/books/edit.hbs --}}
<h1>Editar drone</h1>

Este es el id: {{data._id}}

<form action="/drones/{{data._id}}/edit" method="POST">
	<label>Name</label>
	<input type="text" name="name" value="{{data.name}}" />

	<br />

	<label>Propellers</label>
	<textarea type="text" name="propellers">
		{{data.propellers}}
	</textarea>

	<br />

	<label>MaxSpeed</label>
	<input type="text" name="maxSpeed" value="{{data.maxSpeed}}" />

	<br />

	

	<button>
		Guardar nuevos cambios
	</button>


</form>