<h2>Update the drone</h2>
 
<form action="/drones/update{{drones.id}}/edit" method="POST">
  <label>
    Name:
    <input type="text" name="name" value="{{drones.name}}" />
  </label>
  
  <label>
    Propeller:
    <input type="number" name="propellers" value="{{drones.propellers}}" />
  </label>
 
  <label>
    Description:
    <textarea name="description" cols="30" rows="4">{{book.description}}</textarea>
  </label>
  
  <label>
    Max Speed:
    <input type="number" name="maxSpeed" min="1" max="10" value="{{drones.maxSpeed}}" />
  </label>
 
  <button>Save changes</button>
</form>