<h2>Update the drone {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="POST">

    <label>
        Name
        <input type="text" name="name" value="{{name}}">
    </label>

    <br><br>

    <label>
        Propellers
        <input type="text" name="propellers" value="{{propellers}}">
    </label>

    <br><br>

    <label>
        Max MaxSpeed
        <input type="text" name="max-speed" value="{{maxSpeed}}">
    </label>


    <input type="submit" value="Editar dron">
</form>
