<h2>Update the drone</h2>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Editar {{name}}</h1>
            <hr>


            {{!-- ENVIAMOS EL ID COMO PARAM AL ENDPOINT YA QUE ES NECESARIO PARA EDITARLO --}}
            <form action="/drones/{{id}}/edit" method="POST">
                <div class="mb-3 mt-5">
                    <label for="dronName" class="form-label">Nombre del dron</label>
                    <input type="text" class="form-control" id="dronName" name="name" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="propellers" class="form-label">Numero de Helices</label>
                    <input type="text" class="form-control" id="propellers" name="propellers" value="{{propellers}}">
                </div>

                <div class="mb-3 ">
                    <label for="maxSpeed" class="form-label">Velocidad Maxima</label>
                    <input type="text" class="form-control" id="maxSpeed" name="maxSpeed" value="{{maxSpeed}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
            </form>

        </div>
    </div>



</div>