<h2>Update the drone</h2>
<form action="/drones/{{drone._id}}/edit" method="post" style="width: 500px;">
 
    <input type="text" class="form-control" value="{{drone.name}}" name="name" placeholder="Name"><br>
    <input type="text" class="form-control" value="{{drone.propellers}}" name="propellers" placeholder="Propellers"><br>
    <input type="text" class="form-control" value="{{drone.maxSpeed}}" name="maxSpeed" placeholder="Max Speed"><br>
  <button type="submit" value="Submit" class="btn btn-primary">Update</button>
</form>
<br>
<p style="color:red">{{error}}</p>