<div class="container">
    <h2 class="pt-5">Edit Drone: {{name}}</h2>
    <div class="d-flex pt-5">
        <form action="/drones/{{_id}}/edit" method="POST">
            <label>
                Name :
                <input type="text" name="name" value="{{name}}">
            </label>
            <br><br>
            <label>
                Propellers :
                <input type="number" name="propellers" value="{{propellers}}">
            </label>
            <br><br>
            <label>
                MaxSpeed :
                <input type="number" name="maxSpeed" value="{{maxSpeed}}">
            </label>
            <br><br>
            <button class="btn btn-secondary" type="submit">Edit</button>
        </form>
    </div>
</div>