<h2>Update the "{{droneToUpdate.name}}" drone</h2>

<form action="/drones/{{droneToUpdate._id}}/edit" method="POST">
    <label> Name:
        <input type="text" name="name" value="{{droneToUpdate.name}}"/>

    <label> Propellers:
        <input type="number" name="propellers" value="{{droneToUpdate.propellers}}"/>

    <label> Speed:
        <input type="number" name="maxSpeed" value="{{droneToUpdate.maxSpeed}}"/>

    <button type="submit"> Edit </button>

</form>