<h2>Update the drone: {{drone.name}}</h2>
<form action="/drones/{{drone._id}}/edit" method="post" class="form-inline">
  <label>Name:</label>
    <input type="text" name="name" value="{{drone.name}}" />

  <label>Amount of Propellers:</label>
    <input type="number" name="propellers" value="{{drone.propellers}}" min="1" max="8" />

  <label>Maximum Speed:</label>
    <input type="number" name="maxSpeed" min="1" max="50" value="{{drone.maxSpeed}}" />

  <button class="save">Save changes</button>
</form>