<h2>Update the drone {{name}}</h2>
<form action="/drones/{{_id}}/edit" method="post">
<input type="text" name="name" value={{name}}>
<input type="text" name="propollers" value={{propollers}}>
<input type="text" name="maxSpeed" value={{maxSpeed}}>
<button type="submit">Save</button>
</form>