<h2>Update the drone {{name}}</h2>

<div class="list-container">
  <form action="/drones/{{_id}}/edit" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{name}}" />

    <label for="propellers">Propellers</label>
    <input
      type="number"
      name="propellers"
      id="propellers"
      value="{{propellers}}"
      min="0"
      max="4"
    />

    <label for="maxSpeed">maxSpeed</label>
    <input
      type="number"
      name="speed"
      id="maxSpeed"
      value="{{maxSpeed}}"
      min="0"
      max="18"
    />

    <button type="submit">Edit</button>

  </form>
</div>