<h2>Update the drone {{name}}</h2>
<form action="/drones/{{_id}}/edit" method="post">
  <label>Name:
    <input type="text" name="name" value="{{name}}" />
  </label>
  <label>Number of propellers:
    <input type="number" name="propellers" value="{{propellers}}" /></label>
  <label>Maximum speed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" /></label>
  <button type="submit">Save Changes</button>
</form>