<h2>Update the drone</h2>

{{!-- views/books/books-edit.hbs --}}

<h2>Edit the drone: {{name}}</h2>

<form action="/drones/{{_id}}/edit" method="post">
  <label> name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Number of propellers:
    <input type="number" name="propellers" value="{{propellers}}" />
  </label>

  <label> Max speed:
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" />
  </label>

  <button>Save changes</button>
</form>

